body{
    font-family: Lexend;
    color: #fff;
    background-color: #191D0A;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.html, body::-webkit-scrollbar {
    display: none;
}

/* Работает в Firefox */
.blog_wrapper {
    scrollbar-width: thin;
    scrollbar-color: #F97247 #fff;
  }
  
  /* Работает в Chrome, Edge и Safari */
  .blog_wrapper::-webkit-scrollbar {
    width: 4px;
    height: 77.68px;
    border-radius: 10px 0px 0px 0px;
  }
  
  .blog_wrapper::-webkit-scrollbar-track {
    background: #fff;
  }
  
  .blog_wrapper::-webkit-scrollbar-thumb {
    background-color: #F97247;
    border-radius: 20px;
    border: 3px solid #050c26;;
  }

.main_btn {
    display: block;
    background-color: #F97247;
    border-radius: 48px;
    padding: 15px 20px;
    color: #fff;
    line-height: 22,5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.ds_btn {
    display: none;
}

.nav_menu {
    position: relative;
    display: flex;
    width: 100%;
    border: #F97247 solid 2px;
    border-radius: 64px;
}

.nav_menu .list_menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #191D0A;
    padding: 0;
    margin: 0;
}

.nav_menu .list_menu li {
    display: block;
    width: 100%;
    list-style: none;
    border: #F97247 solid 2px;
    border-radius: 28px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.nav_menu .list_menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 13px 20px;
}

.blog_wrapper {
    display: block;
    max-height: 421px;
    border: #F97247 solid 2px;
    border-radius: 50px;
    overflow: auto;
    padding: 10px 16px 10px 10px;
}

.blog_wrapper .link_blog {
    display: block;
    border-radius: 40px;
    padding: 15px 35px;
    background-color: #F97247;
    text-decoration: none;
    color: #fff;
    margin: 0;
    margin-bottom: 6px;
}

.blog_wrapper .link_blog p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.blog_wrapper .link_blog span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 450;
    line-height: 16px;
    margin: 0;
    padding: 0;
}